/* Variables */

$green: #1abc9c;

/* Normalize.css */
section, footer, header, aside, nav {
    display: block;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix {
    clear: both;
}
a, a:visited {
    outline: none;
    color: #389dc1;
}
a:hover {
    text-decoration: none;
}
// # Normalize.css

/* Navbar */
.navbar-toggle {
    border-color: $green !important;
}

.navbar-collapse {
  text-align: center !important;
    ul.navbar-nav {
      width: 100%;
      text-align: center;
      > li {
        float: none !important;
        display: inline-block !important;
            a {
                font: 17px/1.3 'Open Sans', sans-serif;
                color: #5e5b64;
                letter-spacing: 1px;
                padding: 18px 30px;
                color: #fff !important;
                text-decoration: none !important;
                line-height: 40px;
                text-transform: uppercase;
                height: 82px;
                &:hover {
                color: $green !important;
                visibility: visible;
                -webkit-transition: color 0.6s;
                -moz-transition: color 0.6s;
                -o-transition: color 0.6s;
                transition: color 0.6s;
                }
            }
        }
    }
}

// # Navbar

// Jumbotrons
.jumbotron {
    margin-top: -30px;
    .pt-heading{
      background-color: #fff !important;
    }
}

.jumbotron-barbell {
    margin-top: 30px;
    img {
        width: 100%;

    }
}

// Description Intro (ICONS)
[class^="fa-cutlery"], [class*="fa-cutlery"] {
  display: inline-block;
  width: 100%;
  font-size: 30px !important;
}

[class^="glyphicon-scale"], [class*="glyphicon-scale"] {
  display: inline-block;
  width: 100%;
  font-size: 30px !important;
}

[class^="fa-bed"], [class*="fa-bed"] {
  display: inline-block;
  width: 100%;
  font-size: 30px !important;
}

[class^="fa-bicycle"], [class*="fa-bicycle"] {
  display: inline-block;
  width: 100%;
  font-size: 35px !important;
  font-weight: bold;
}

.personal{
  font-size: 18px;
}
.personal-p {
  font-size: 14px;
}

.text-success {
  color: $green !important;
}

.text-info {
  color: $green !important;
}



/* Contact lower  */


@media (max-width: 1024px ) {
  .contact {
    background-color: #1a1a1a;
    height: 450px !important;
  }
  .contact-h2  {
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-left: 15px;
  }
}

@media (min-width: 769px) and (max-width: 990px ) {
  .contact {
    background-color: #1a1a1a;
    height: 250px !important;
    .contact-h2  {
      display: inline-block;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      margin-left: 15px;
    }
  }
}


@media (min-width: 768px) {
  .contact {
    background-color: #1a1a1a;
    height: 100px !important;
    .contact-h2  {
      display: inline-block;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      margin-left: 15px;
    }
  }
}

/*@media (min-width: 250px) {
  .contact {
    background-color: #1a1a1a;
    height: 300px !important;
    width: %100;
    .mail {
      font-size: 16px;
    }
    .address {
      font-size: 16px;
    }
    .contact-h2  {
      display: inline-block;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      margin-left: 15px;
    }
  }
}*/ // Error not found


/*@media (min-width: 200px) {
  .contact {
    background-color: #1a1a1a;
    height: 225px !important;
    width: %100;
    margin-top: 80px;
    .mail {
      font-size: 16px;
    }
    .address {
      font-size: 16px;
    }
    .p-number {
      font-size: 16px;
    }
    .contact-h2  {
      display: inline-block;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      margin-left: 15px;
    }
  }
}*/ //Error not found










/* Span icons */
[class^="fa-phone"], [class*="fa-phone"] {
  display: inline-block;
  width: 100%;
  font-size: 35px !important;
  font-weight: bold;
  color: $green;
  line-height: 75px !important;
}

[class^="fa-envelope-o"], [class*="fa-envelope-o"] {
  display: inline-block;
  width: 100%;
  font-size: 35px !important;
  font-weight: bold;
  color: $green;
  line-height: 75px !important;

}

[class^="fa-map-marker"], [class*="fa-map-marker"] {
  display: inline-block;
  width: 100%;
  font-size: 35px !important;
  color: $green;
  font-size: 35px;
  line-height: 75px !important;
}

/* Contact lower End */

.blockquote-reverse {
  margin-top: 50px;
  height: 100px;
  color: $green;
}
