/* Variables */

$green: #4a3;

/* Normalize.css */
section, footer, header, aside, nav {
    display: block;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix {
    clear: both;
}
a, a:visited {
    outline: none;
    color: #389dc1;
}
a:hover {
    text-decoration: none;
}
// # Normalize.css

/* Navbar */
.navbar-toggle {
    border-color: $green !important;
}

.navbar-collapse {
  text-align: center !important;
    ul.navbar-nav {
      width: 100%;
      text-align: center;
      > li {
        float: none !important;
        display: inline-block !important;
            a {
                font: 17px/1.3 'Open Sans', sans-serif;
                color: #5e5b64;
                letter-spacing: 1px;
                padding: 18px 30px;
                color: #fff !important;
                text-decoration: none !important;
                line-height: 40px;
                text-transform: uppercase;
                height: 82px;
                &:hover {
                color: #1abc9c !important;
                visibility: visible;
                -webkit-transition: color 0.6s;
                -moz-transition: color 0.6s;
                -o-transition: color 0.6s;
                transition: color 0.6s;
                }
            }
        }
    }
}

// # Navbar

// Jumbotrons
.jumbotron {
    margin-top: -30px;
    .pt-heading{
      background-color: #fff !important;
    }
}

.jumbotron-barbell {
    margin-top: 30px;
    img {
        width: 100%;

    }
}

// Description Intro (ICONS)
[class^="fa-cutlery"], [class*="fa-cutlery"] {
  display: inline-block;
  width: 100%;
  font-size: 30px !important;
}

[class^="glyphicon-scale"], [class*="glyphicon-scale"] {
  display: inline-block;
  width: 100%;
  font-size: 30px !important;
}

[class^="fa-bed"], [class*="fa-bed"] {
  display: inline-block;
  width: 100%;
  font-size: 30px !important;
}

[class^="fa-bicycle"], [class*="fa-bicycle"] {
  display: inline-block;
  width: 100%;
  font-size: 35px !important;
  font-weight: bold;
}

.personal{
  font-size: 18px;
}
.personal-p {
  font-size: 14px;
}

.text-success {
  color: #1abc9c !important;
}

.text-info {
  color: #1abc9c !important;
}
